<a href="https://colab.research.google.com/github/saumilhj/projects/blob/main/ConcreteStrength.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**CONCRETE STRENGTH PREDICTION (MULTIPLE LINEAR REGRESSION)**

Dataset from Kaggle: https://www.kaggle.com/datasets/manasichhibber/concrete

In [1]:
import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

Import data

In [2]:
df = pd.read_csv('concrete_data.csv')

In [3]:
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Cement              1030 non-null   float64
 1   Blast Furnace Slag  1030 non-null   float64
 2   Fly Ash             1030 non-null   float64
 3   Water               1030 non-null   float64
 4   Superplasticizer    1030 non-null   float64
 5   Coarse Aggregate    1030 non-null   float64
 6   Fine Aggregate      1030 non-null   float64
 7   Age                 1030 non-null   int64
 8   Strength            1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

Check duplicates

In [5]:
df.duplicated().sum()

25

In [6]:
df.drop_duplicates(keep='first', inplace=True)

Check NaN

In [7]:
df.isna().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

Split data into features and target

In [8]:
X = df.drop(['Strength'], axis=1)
y = df['Strength']

Scale data for faster processing

In [9]:
X = StandardScaler().fit_transform(X)

Split into training and testing data

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)

Apply multiple linear regression

In [11]:
regression = LinearRegression()
regression.fit(X_train, y_train)

LinearRegression()

In [12]:
y_pred = regression.predict(X_test)

Final result

In [13]:
coeffs = regression.coef_
intercept = regression.intercept_

In [14]:
equ = []
for i in range(len(coeffs)):
  equ.append(f"{round(coeffs[i], 2)}x{f'{i+1}'}")

In [15]:
e = f"The final equation is f(x) = {' + '.join(equ)} + {round(intercept, 2)}"
print(e)
print(f"Mean squared error is {round(mean_squared_error(y_test, y_pred), 2)}")

The final equation is f(x) = 13.23x1 + 9.88x2 + 6.31x3 + -2.64x4 + 1.56x5 + 1.83x6 + 2.63x7 + 7.46x8 + 35.34
Mean squared error is 98.83